extends ../layout
block content

    section.grid-1
        div.item-1
            h1 LivingRoom

        div.item-2
        div.item-3
            label Main Light

            input(
                id='light-1'
                type='checkbox'
                data-toggle='toggle'
                data-onstyle='success'
                checked
            )


        div.item-4
        div.item-5
            label Abajour
                input(
                    id='light-1'
                    type='checkbox'
                    data-toggle='toggle'
                    data-onstyle='success'
                    checked
                )
        div.item-6
        div.item-7
        label Heater
            input(
                id='light-1'
                type='checkbox'
                data-toggle='toggle'
                data-onstyle='success'
                checked
            )
        div.item-8
        div.item-9
            label TV
                input(
                    id='light-1'
                    type='checkbox'
                    data-toggle='toggle'
                    data-onstyle='success'
                    checked
                )

        div.item-10
        div.item-11
            label Plant
                input(
                    id='light-1'
                    type='checkbox'
                    data-toggle='toggle'
                    data-onstyle='success'
                    checked
                )

        a(href='/')
            button.btn.btn-dark(type='button') Go back


